[2017-02-07 16:05] chaals opened #2 "Add reverse property"
microdata makes it hard to have inverses, unlike RDFa and JSON-LD. This means that any vocabulary which wants to work with all three has to add a whole set of inverse properties to make microdata useful.

A `reverse` property, or similar, as per https://github.com/w3c/microdata-rdf/issues/24 would be useful.

See also https://www.w3.org/wiki/WebSchemas/InverseProperties (notes from schema.org disc

[2017-02-07 18:01] gkellogg commented on #2
It doesn't seem that `@itemprop-reverse` was ever used in a schema.org example, even though it was motivated by that need. Previously, we needed to see use in the wild to add such a feature, but the need, IMHO, is clear, and the processing, for RDF, is well defined.

`@itemprop-reverse` has a direct corollary in RDFa `@rev` and JSON-LD `@reverse`.

[2017-02-07 18:04] chaals commented on #2
Yeah, it seems there is a bit of chicken and egging here. I believe schema.org doesn't use it in examples because it isn't in the spec.

I think there is also a preference among many people behind schema.org for RDFa or JSON-LD since they are "better" than microdata.

The point of trying to make a microdata Rec is that the world at large seems to prefer microdata by a significant margin. I agree t

[2017-02-07 18:04] gkellogg opened #3 "Microdata should include RDF processing model"
The primary use of Microdata on the web is to contain schema.org-based metadata. From the [recent common crawl](http://webdatacommons.org/structureddata/2016-10/stats/stats.html) 2.5/3 million pages include Microdata. All of this data has an RDF interpretation, which is in fact critical to extracting information from the pages.

The microdata spec should integrate the work from the [Microdata to R

[2017-02-16 09:53] chaals opened #4 "Keeping markup inside values"
For various reasons - internationalisation, accessibility, … - it is helpful to have rich / marked up text for content, but microdata currently strips everything back to raw text. Is it possible to change that.

[2017-02-16 09:54] chaals opened #5 "relationship to RDFa, JSON-LD, µformats"
Describe the similarities and differences. Related to #3

[2017-04-04 08:45] LJWatson opened #6 "Link to Danbri is broken"
In the list of editors, the link to "Dan Brickley" returns a 404.

[2017-04-06 16:08] LJWatson opened #7 "CFC: Move Microdata to FPWD"
This Call For Consensus (CFC) is to move the ccurrent [Microdata Editors Draft (ED)](https://w3c.github.io/microdata/) to First Public Working Draft (FPWD).

Changes between the [2013 W3C Note](https://www.w3.org/TR/2013/NOTE-microdata-20131029/) and the current ED:
* Remove DOM API. This API has been removed from browsers that did implement it.
* Remove unused references.

Please respond to this

[2017-04-06 22:31] iherman commented on #7
There seems to be some editorial problem. The table of content of the [ED](https://w3c.github.io/microdata/) indeed does not include the section on the DOM API, but the text itself does.

(The TOC refers to section 6 for the conversion to other formats; in the text section 6 is the DOM API, and section 7 is the conversion section...)

[2017-04-07 02:03] chaals commented on #7
@iherman wrote

That is a problem indeed. I'll fix it later today and request that we reset the CfC.

My apologies...

[2017-04-07 12:34] LJWatson opened #8 "ToC is broken"
As noted in #7 the ToC is broken.

[2017-04-07 17:00] siusin commented on #8
Done -> https://w3c.github.io/microdata/.

Suggest we close this issue.

[2017-04-07 17:45] LJWatson commented on #8
With thanks @Siusin

[2017-04-07 17:45] #8 closed, assigned to siusin

[2017-04-07 17:50] LJWatson commented on #7
The [ToC has been fixed](https://github.com/w3c/microdata/commit/52daee2fb58871ea323fa4fa6f7c7324c8502519). Re-opening this CFC with an extended deadline.

[2017-04-07 17:57] LJWatson commented on #6
Closed by the move to Respec.

[2017-04-07 17:57] #6 closed, assigned to nobody

[2017-04-07 21:35] iherman commented on #7
+1 (both to the original CFC, and the changes of @chaals)

[2017-04-12 18:48] tantek commented on #7
-1 (will update with more comments)
tl;dr: is legacy, waste of W3C resources (CR, test suite etc.), relitigates already resolved issue from previous HTMLWG, and lastly wastes time duplicating yet another WHATWG spec.

Compromise: Ok to update existing W3C Microdata NOTE instead, with dropping DOM APIs etc.

[2017-04-17 21:30] danbri commented on #7
+1 including above fix

[2017-04-18 18:05] LJWatson commented on #7
Thanks for taking time to respond @Tantek.

Your concerns naturally echo those raised by Mozilla during the WebPlat charter review. At the time it was noted that Microdata is supported by multiple major search engines - two of which, Yandex and Google, have offered editors - and that
it is used on a substantial percentage of sites on the web.

The W3C has already chartered WebPlat to move Microdat

[2017-04-21 12:09] danbri commented on #4
Here's some RDFa, which gets around this using a @datatype attribute to control parsing of property values:

[code]

[2017-04-21 18:46] danbri commented on #2
From a Google perspective, if I remember right... roughly @itemprop-reverse was proposed during the "Microdata or RDFa or both" debates of 2011-13, but then JSON-LD came along and was sufficiently different to both, and added real value in various settings, that most syntax discussions moved towards "hmm JSON-LD is probably the easiest for people to create". I don't believe we can currently parse

[2017-04-21 20:14] gkellogg commented on #2
Actually, we came up with `@itemprop-reverse` around the Role discussion; At that time, the need for reverse properties seemed greater, and the fact you couldn't do it in Microdata made it less expressive than JSON-LD or RDFa. If there's no intention of ever using reverse properties in Microdata, then no real need to promote this, or even bring it forward.

[2017-05-01 18:11] chaals opened #10 "Is microdata processed in e.g. SVG?"
The specification claims it is only processed in HTML. Is that true?

[2017-05-02 17:08] chaals opened #12 "describe security considerations, if any"
From the [W3C security and privacy questionnaire](https://www.w3.org/TR/security-privacy-questionnaire/)

* [x] Does this specification deal with personally-identifiable information?
* [x] Does this specification deal with high-value data?
* [x] Does this specification introduce new state for an origin that persists across browsing sessions?
* [x] Does this specification expose persistent, cross-o

[2017-05-02 17:08] chaals opened #13 "describe privacy considerations, if any"
From the [W3C security and privacy questionnaire](https://www.w3.org/TR/security-privacy-questionnaire/)

* [x] Does this specification deal with personally-identifiable information?
* [x] Does this specification deal with high-value data?
* [x] Does this specification introduce new state for an origin that persists across browsing sessions?
* [x] Does this specification expose persistent, cross-o

[2017-05-02 17:34] chaals commented on #5
Most of the attributes introduced have a parallel in RDFa. These should be explained.

[2017-05-02 19:10] chaals opened #14 "remove drag and drop"
It's apparently unimplemented.

A quick [messy manual test](https://chaals.github.io/testcases/microdata-drag-drop.html) that might not show much more than [the original demo I adapted it from](https://dev.opera.com/articles/drag-and-drop/demo.html)

[2017-05-02 21:32] chaals opened #15 "Does anyone convert microdata to JSON?"
If not, should we remove that bit?

[2017-05-02 21:42] chaals commented on #13
From the [W3C security and privacy questionnaire](https://www.w3.org/TR/security-privacy-questionnaire/)

* [ ] Does this specification deal with personally-identifiable information?
* [ ] Does this specification deal with high-value data?
* [ ] Does this specification introduce new state for an origin that persists across browsing sessions?
* [ ] Does this specification expose persistent, cross-o

[2017-05-02 21:43] chaals commented on #12
From the [W3C security and privacy questionnaire](https://www.w3.org/TR/security-privacy-questionnaire/)

* [ ] Does this specification deal with personally-identifiable information?
* [ ] Does this specification deal with high-value data?
* [ ] Does this specification introduce new state for an origin that persists across browsing sessions?
* [ ] Does this specification expose persistent, cross-o

[2017-05-03 01:33] chaals opened #17 "propose a simple IDL interface"
There are no properties in the DOM for microdata - a parser in JS needs to use `document.querySelectorAll('[itemscope]') to find items, and `getAttribute()` and friends to process them.

[2017-05-03 14:30] chaals commented on #13
The specification can make data, including high-value or PII data, more explicit, for improved harvesting. It doesn't distinguish first- or third-party or anonymous use: the data is ordinarily laid open to the Web. But it doesn't have special access to any data, and cannot expose anything not already available to the origin.

It is possible to use the explicit nature of microdata to adjust a DOM,

[2017-05-03 14:32] chaals commented on #12
The specification doesn't have special access to any data, and cannot expose anything not already available to the origin.

The [proposed security section](https://github.com/w3c/microdata/commit/ec31b6337690a3b212161117092a6ec2bf0b6444) warns that processors should consider the accuracy of information gathered, and whether the source was secure from interference.

[2017-05-03 14:33] chaals commented on #13
There is a [proposed privacy section](https://github.com/w3c/microdata/commit/ec31b6337690a3b212161117092a6ec2bf0b6444)

[2017-05-03 18:37] #12 closed, assigned to chaals

[2017-05-03 18:37] #13 closed, assigned to chaals

[2017-05-04 11:12] danbri commented on #15
At Google we parse Microdata and JSON-LD into a common (reasonably RDFish) abstraction. The flow is much more from such concrete formats into triples/graphs than back out into re-serialized JSON(-LD), but this is the closest we get to microdata/JSON mapping afaik. I don't believe we (Google 'we') do anything with the Microdata spec's JSON mapping.

[2017-05-04 11:18] danbri opened #20 "Consider acknowledging the @content attribute"
An @content attribute is used elsewhere in the HTML universe (at least RDFa).

It appears that at schema.org we have mistakenly assumed it was part of Microdata or HTML proper. If you grep for @content appearing alongside @itemprop in the schema.org examples, there are [lots of examples](https://gist.github.com/danbri/3b26618e7b2c1fa59df886a12051ab4e) which use it. This idiom is intended to allow

[2017-05-04 11:26] chaals commented on #13
also, from https://www.w3.org/wiki/Privacy/Privacy_Considerations

* [x] can the information be used (alone or in combination with other APIs / sources of information) to fingerprint a device or user? No more than already so.
* [x] can a user access the information she created? Only by adding interactivity to create stuff.
* [x] can a user record that information locally? Depends  if the applicati

[2017-05-04 11:27] chaals commented on #13
Help wanted:
If a background event about the device is fired in all browsing contexts, does it allow correlation of a user across contexts?

[2017-05-04 11:32] chaals commented on #20
This would be as a synonym for `@value`, right? Should we explicitly acknowledge it, or note that it should be processed appropriately but is invalid as content?

[2017-05-04 21:59] chaals opened #21 "microdata doesn't identify language"
See the [Internationalisation and Localisation section](http://w3c.github.io/microdata/#i18n-considerations) ...

[2017-05-04 23:17] chaals opened #22 "i18n self-check"
## Language
### Language basics
1. [FAIL] It should be possible to associate a language with any piece of natural language text that will be read by a user. <a class="local" href="https://w3c.github.io/bp-i18n-specdev/#sec_lang_decl">more</a>
1. [FAIL] Where possible, there should  be a way to label natural language changes in inline text. <a class="local" href="https://w3c.github.io/bp-i18n-specd

[2017-05-07 22:46] chaals opened #23 "add spec to html-extensions document"
Since we extend HTML, we should make sure that it is listed for addition. http://w3c.github.io/html-extensions

[2017-05-08 00:37] chaals commented on #7
The [FPWD](https://www.w3.org/TR/2017/WD-microdata-20170504/) was published on May 4

[2017-05-08 00:37] #7 closed, assigned to nobody

[2017-05-08 00:38] chaals opened #24 "html-extensions isn't recognised by respec"
Hopefully this will be closed by [adding it to specref](https://github.com/tobie/specref/pull/357)

[2017-05-08 02:39] chaals opened #25 "remove application/microdata+json?"
This doesn't seem to be used much, nor very useful - it's claimed purpose is to define the data carried in a drag and drop operation, but that isn't implemented anywhere I could find.

[2017-05-08 10:04] chaals commented on #24
It's now in specref, so whenever that update propogates this issue should be closed.

[2017-05-08 10:11] chaals opened #26 "iframe and embed don't have a data attribute"
section 7.1 says the `data` attribute must be present when there is an `itemprop` attribute on the `iframe` and `embed` attributes. I think it should be `src` attribute...

[2017-05-08 10:14] chaals opened #27 "Extend content models, or define microdata errors"
Section 7.1 currently extends content models by making various attributes required in circumstances where the microdata processing won't otherwise work.

I suggest that we state that it is a `microdata error` if something is missing leading to broken parsing. It seems at first glance reasonable to add the content model constraints, which basically amount to defining authoring errors, but we should

[2017-05-08 13:47] chaals commented on #20
Looking at that, about 60% are of the examples are valid given that they use `meta content="[something]"` which is accounted for in the spec already. But that leaves about 40%, where there is some other element.

If the processors actually *handle* the `content` attribute for e.g. `span` or `p` elements, the required changes are:

1. add a step before the last one in the algorithm than finds the v

[2017-05-08 21:34] chaals opened #29 "Describe microdata -> JSON-LD conversion?"
See also #2, #5, #15 and https://lists.w3.org/Archives/Public/public-whatwg-archive/2012Aug/0101.html (which gives a sense of what is required as changes).

[2017-05-08 21:38] chaals commented on #29
Ping @lanthaler

[2017-05-09 10:55] #26 closed, assigned to nobody

[2017-05-09 10:56] #14 closed, assigned to chaals

[2017-05-09 14:19] danbri commented on #20
Here's a test

[code]

 * [Google's SDTT](https://search.google.com/structured-data/testing-tool) seems to understand @content but not understand @value here (on the price property)
 * The [opensource structured data linter](http://linter.structured-data.org/) doesn't seem to accept either.

Looking around https://w3c.github.io/html/fullindex.html#attributes-table there are several elements listed

[2017-05-09 15:13] gkellogg commented on #20
According to the Microdata to RDF spec, `@content` is only used on the `meta` element, as this is how it was described in the original Microdata spec. Of course RDFa accepts `@content` on any element.

See microdata-rdf/issues#7.

If you update this in Microdata, we'd also need to update Microdata to RDF (or simply include the RDF conversion bits in the new Microdata spec).

[2017-05-09 17:46] chaals commented on #20
The [Yandex Structured Data Validator](https://webmaster.yandex.com/tools/microtest/) recognised it too.

@gkellogg yes, this would be a substantive change. On the other hand, if that's what happens in reality, it seems to be a reasonable one to make.

@danbri do you have any handy data on the use of `@content` in the wild, for microdata (as opposed to RDFa)?

[2017-05-09 17:52] chaals commented on #20
Here's a test where the answers are clearer - if `@content is supported on anything, the price is "Super cheap!!1" and the currency "GBP". Other variations may occur. Again, the [Yandex Structured Data Validator](https://webmaster.yandex.com/tools/microtest/) read both the `content` attributes.

[code]

[2017-05-09 17:53] danbri commented on #20
Not handy but I could look into it. I guess the central interest is on non-meta elements, maybe ratios would be something I could get shared.

[2017-05-09 17:56] gkellogg commented on #20
Note that the [Content model for span](https://www.w3.org/TR/html51/textlevel-semantics.html#the-span-element) does not include `@content`, but rather [Global Attributes](https://www.w3.org/TR/html51/dom.html#global-attributes). The [Content model for meta](https://www.w3.org/TR/html51/document-metadata.html#the-meta-element), does specifically include `@content`.

If you want to make `@content` m

[2017-05-10 09:35] chaals commented on #24
Fixed.

[2017-05-10 09:35] #24 closed, assigned to chaals

[2017-05-10 09:36] chaals commented on #23
See https://github.com/w3c/html-extensions/pull/28

[2017-05-10 09:39] chaals commented on #25
This is effectively covered already in #15 - let's deal with it there

[2017-05-10 09:39] #25 closed, assigned to nobody

[2017-05-10 09:40] chaals commented on #15
If we remove it, we may as well also deprecate the application/microdata+json stuff - it's main use case was alleged to be drag and drop, which we already recognised as an experiment that didn't get traction.

[2017-05-10 09:56] chaals commented on #10
A very quick test suggests that at least the [Yandex Structured Data Validator](https://webmaster.yandex.com/tools/microtest/), the [opensource structured data linter](http://linter.structured-data.org/) and [Google's Structured Data Testing Tool](https://search.google.com/structured-data/testing-tool) all recognise microdata markup in SVG that is included in HTML. For a pure SVG sample, the Googl

[2017-05-10 14:06] gkellogg commented on #10
Do you have example SVG I can try?

[2017-05-10 14:51] danbri opened #31 "Add a definition of 'property' sufficient for referencing from elsewhere"
We say 'property' a lot, without saying what it is.

[2017-05-10 15:01] danbri commented on #31
Strawman,

[2017-05-10 15:12] chaals commented on #10
[code]

Actually, the SDL did extract the data when I did this - but my quick test wasn't valid XML - I just used the itemscope attribute bare, HTML style, which is what stopped it parsing.

[2017-05-10 18:13] gkellogg commented on #10
As you note, the reason the SDL shows an error, is because parsing all goes through the RDFa parser, which does a host-language detection. In this case, the host language is detected as `svg`, which is parsed using the XML parser, which does require that attributes have values, thus the following errors:

Wrap it in HTML, and it is parsed using the HTML5 parser (now Gumbo), where such attributes d

[2017-05-13 15:57] danbri commented on #2
I've edited to add https://www.w3.org/wiki/WebSchemas/InverseProperties to @chaals opening comment here as it has a lot of examples and earlier discussion.

[2017-05-15 13:38] danbri commented on #21
This feels to me to have something in common with the question (just opened: #32) of whether Microdata's properties are considered to be ordered. My memory of the original discussion was that this was delegated to vocabulary providers, e.g. I could create a Microdata-oriented vocabulary and declare that "author" was an ordered property. That creates the question of whether RDF-oriented extractions

[2017-05-15 14:16] danbri opened #32 "Microdata's property ordering semantics are unclear (and perhaps unused) - can we simplify?"
From https://w3c.github.io/microdata/#the-microdata-model

Q: What does "_they do have a relative order_" vs "_are unordered_" actually mean? Did anyone implement against this distinction?

A test case to explore could be based on something like:

[code]

The spec seems to say that the relative order of accessibilityFeature vs author on this Book is unimportant, whereas considering the values for

[2017-05-15 17:59] gkellogg commented on #32
We pushed ideas for ordering multiple property values to the vocabulary registry, and did not do ordering for schema.org.

[2017-05-16 23:44] chaals commented on #23
Done.

[2017-05-16 23:44] #23 closed, assigned to chaals

[2017-05-16 23:46] chaals commented on #10
Yeah - in pure SVG, the microdata is not parsed by SDLinter.

My inclination is to suggest that this is a bug, and that the attributes, which are in the null namespace, should generally work unless a specific language tries to say they don't.

@gkellogg that would mean you're non-conformant - what do you think about making the change?

Has anyone tested other tools?

[2017-05-17 00:01] gkellogg commented on #10
To say it's a Linter bug would imply that SVG should be parsed as HTML, not XML. According to the [SVG Spec](https://www.w3.org/TR/SVG/mimereg.html), the mime-type for SVG is application/svg+xml. XML does not allow attributes without values. To say that it's a bug for the Linter to parse a valueless attributes when given SVG implies that it is not correct to parse SVG as XML, so I beg to differ.

[2017-05-17 09:32] iherman commented on #10
The microdata parser, incorporated into the RDFLib library (which is probably the most widely used RDF Library in Python land) uses the html5parser, and also includes statements that are very much HTML5 specific (e.g., usage of the `<base>` element. SVG parsing would be doable, of course, but would require extra work.

[2017-05-17 10:22] ghost opened #33 "Connect"
jar, Jason, zip

[2017-05-17 12:00] chaals commented on #10
@gkellogg

Sorry, it seems I have not been clear.

Assuming correct XML such as
[code]

As far as I can tell - and I haven't tested rigourously enough to be satisfied myself - the SDLinter applies an RDFa parser, so gets some data but not what one would expect as microdata. Google's and Yandex' tools apply a microdata parser, and extract the microdata as one might naively expect.

According to the

[2017-05-17 12:01] chaals commented on #10
If only the search engines' tools process this, I suggest that we mark it as wontfix at least for the current version, and wait for some upswell of demand. It's a trivial spec change, if we find broad interoperability later.

[2017-05-17 12:04] #33 closed, assigned to nobody

[2017-05-17 12:11] chaals commented on #20
@gkellogg:

Yep. And since we are already changing / extending HTML in this spec, I suggest that if we decide we want to do this, we start by stating that for microdata `@content` is global, and then file an issue to see if HTML will accept that for HTML in general.

[2017-05-17 17:25] chaals opened #34 "What is a 'vocabulary'"
The specification mentions vocabularies, and vocabulary specifications, dozens of times. It makes assertion about vocabulary design, and about constraints that are imposed by vocabularies. But it never actually says what a vocabulary is.

I *think* that a lot of the fixing needed is editorial, but given that there is no formal way of processing a vocabulary, we might end up making some substantive

[2017-05-17 18:39] danbri commented on #20
@gkellogg if we made @content global, would you be likely to update any implementations to track this?

My understanding is that at least major implementations (Google, Yandex) already treat it as global, and that it addresses practical shortfalls of Microdata. So I'd like to propose we make @content a global HTML attribute.

[2017-05-17 18:44] danbri commented on #15
see also application/microdata+json registration, https://www.ietf.org/mail-archive/web/ietf-types/current/msg01714.html

Presumably we'd need to tidy things up there, or leave a legacy section for that to reference.

[2017-05-17 19:00] chaals commented on #2
Hmmm. I think we could leave this Wontfix for now, unless there is great pressure. RDFa and JSON-LD can both do the necessary, so a vocabulary can always just say "use them instead"…

[2017-05-17 19:49] gkellogg commented on #20
@danbri, I'd certainly update my implementation. Do you imagine incorporating Microdata to RDF in your Microdata update? If not, we'll need to plan on updating that too.

[2017-05-17 21:21] danbri commented on #2
@chaals @gkellogg has anyone worked out test cases?

Here is a normal syntax example, except _creatorOf_ is not an official term at schema.org:

[code]

Here is how it might look if we allowed itemprop-reverse:

[code]

Here is a bogus example that should fail, because literals can't have outgoing properties (ish):

[code]

... so this should fail somehow.

Are there other corner cases to enumerat

[2017-05-17 22:05] gkellogg commented on #2
As mentioned in an email, the [Microdata to RDF test suite](http://w3c.github.io/microdata-rdf/tests/) includes such tests. See test 0081-0084.

Using rdf.greggkellogg.net/distiller, I get the following Turtle output:

[code]

This uses a straight-forward [implementation](http://github.com/ruby-rdf/rdf-microdata) as described in Microdata to RDF.

[2017-05-17 22:09] gkellogg commented on #10
Using the RDFa parser on rdf.greggkellogg.net/distiller, I get the following Turtle for your example:

[code]

It looks like the linter gets pretty much the same results. (I'd be really worried if it didn't!)

Note that the RDFa parser is used, as it looks for all other embedded formats, including RDF/XML, Microdata and anything inside a `script` element with an `@type` related to some RDF format.

[2017-05-17 22:18] gkellogg commented on #20
Note that there are other attributes with special content-like attributes:

* `data` and `meter` use `@value` which is interpreted as a numeric type
* `object` uses `@data` interpreted as a URI
* `@time` uses `@datetime`.

Of these, it might be worth considering `@value` to be generic, as there is no other reasonable way to get such datatyped literals out of Microdata.

[2017-05-17 22:27] gkellogg commented on #21
The value of `@content` uses `element.language`, as does any other literal which is generated.

[code]

[2017-05-17 22:31] gkellogg commented on #29
In a sense, microdata -> JSON-LD is a specific case of the Microdata to RDF algorithm, as JSON-LD is just an RDF serialization. But, it might be nice to have resulting JSON-LD structured in the same way as the original HTML and with a context definition created based on inferred term values.

I think @niklasl did something like this for RDFa to JSON-LD.

[2017-05-17 22:32] gkellogg commented on #32
IMO, only reasonable use for Microdata is schema.org, which currently does not order value output at all. Simplest thing is to say that multiple property values are unordered.

[2017-05-17 22:37] gkellogg commented on #34
In Microdata to RDF a vocabular is established via `@itemtype`. There is a mechanism to make document-relative URIs if there is no established type. The first version had some arcane URI-building logic to support hcard (IIRC), but that was trimmed in the second version. Most of the logic for building URIs is in [Generate Predicate URI](https://www.w3.org/TR/microdata-rdf/#generate-predicate-uri).

[2017-05-17 23:10] danbri commented on #2
Let's now try to find ugly corner cases. Can we find a way for @itemref to make this confusing enough for parsers not to agree? /cc @unor who I see [on Stackoverflow](http://stackoverflow.com/posts/33984412/revisions) was quite on top of this stuff a while back. Borrowing an example, ... but using the 'alumniOf' / 'alumni' pair:

Plain Microdata @itemref:

[code]

Here's that with @itemprop-revers

[2017-05-17 23:14] danbri commented on #2
Trying those last 2 tests in http://rdf.greggkellogg.net/distiller

First the basic @itemref:

[code]

And then with itemprop-reverse:

[code]

This all seems as it should be.

[2017-05-17 23:15] danbri commented on #2
We also need a negative testcase where the content inside the itemprop-reverse is just text not an item/entity.

[2017-05-17 23:21] gkellogg commented on #20
Linter and Distiller updated to allow `@content` universally.

[2017-05-17 23:26] danbri commented on #2
Important opensource Microdata parsers?

I would consider both the RDF community and the SEO / CMS add on scene here.

## Python

Looking into Python situation, it is not clear to me which is the most popular addon for rdflib, but back in the day there were parsers from both @iherman and @edsu.

* https://github.com/edsu/rdflib-microdata
* http://rdflib.readthedocs.io/en/stable/apidocs/rdflib.plug

[2017-05-18 00:11] chaals commented on #20
That seems like we probably should just do this… We've got enough interop to show it can be done easily, we have schema.org examples out there suggesting it and we know that people use that, we have an example that it probably isn't a major imposition on implementations, and in any event RDFa already parses this so it brings us into closer alignment.

I'd like to have the data on usage in the wild

[2017-05-18 00:31] chaals commented on #15
Hmm. Maybe the sensible path is to leave it there.

The security considerations section of the equivalent for JSON-LD looks like we should copy^Wimprove the quality of our spec by consideration of the issues it describes.

[2017-05-18 00:36] msporny commented on #20
+1, adding @content globally sounds fine to me. I'd check with @hixie to understand why it wasn't included in the first iteration of Microdata (other than it being "allowed" in the content model - what are the validators going to say? Do people care about validating HTML these days? I know we stopped doing this a long time ago at our company).

[2017-05-18 00:52] chaals commented on #15
See also [JSON](https://tools.ietf.org/html/rfc4627) which is what we currently claim has the same security considerations

[2017-05-18 00:52] Hixie commented on #20
It fared poorly in usability studies.

[2017-05-18 07:02] iherman commented on #20
@gkellogg on https://github.com/w3c/microdata/issues/20#issuecomment-300196690 : I think I would prefer to issue a new release of the RDF conversion document rather than adding it to the core microdata spec. It would create too much (unnecessary) discussion about the role of RDF, and we do not need that.

I am a bit neutral whether the RDF conversion spec should remain a note or become a rec. But

[2017-05-18 07:08] iherman commented on #20
+1 adding `@content`, too. The example on the numbers are typical use cases where this becomes extremely handy; the human readable text may not always coincide with the machine readable format.

I am not sure when I would update the Microdata parsers in RDFLib and in my Microdata distiller, but I would certainly try to find time for it (however, the prerequisite is to update the RDF conversion doc

[2017-05-18 09:50] chaals commented on #3
I'm more tempted to make this spec **informatively** describe conversion to RDFa/JSON-LD as per #5, recognising that microdata is a pretty loose format, and provide an informative link to the conversion note for those who want more details…

[2017-05-18 09:56] chaals commented on #20
Can we keep the "RDF conversion" question in #3, so this issue is just about whether or not to add `@content`, please?

[2017-05-18 09:57] iherman commented on #20
@chaals, apologies:-)

[2017-05-18 15:42] #31 closed, assigned to chaals

[2017-05-18 17:03] chaals opened #36 "Improve privacy concerns section"
* clarify that using microdata to increase machine-readability of identifying information may mean that more machines will process it - potentially in combination with data found elsewhere, so limiting the data in a given place is ineffective as a privacy mitigation.
* note that processors should consider privacy implications of information that they process from content - including their own priv

[2017-05-18 23:51] chaals opened #37 "Do parsers apply the value of "base" elements when resolving URLs?"
If an HTML document hosted somewhere other than http://example.org, and it has `<base href="http:example.org">`, do parsers resolve the URL relative to the base element, or not?

And likewise for XML…

@gkellogg, @iherman

[2017-05-19 00:05] gkellogg commented on #37
[RFC3986](https://tools.ietf.org/html/rfc3986#section-5) has a section on URI resolution, and both HTML and XML have specific rules for resolving relative URIs against an established base.

For HTML, it's typically the value of the `base` element in the `head` section. XML uses `xml:base`, on the closest element; many RDFa parsers do this as well.

In the absence of an explicit base, it is set fro

[2017-05-19 00:10] chaals commented on #37
Yeah, I am specifically wondering if microdata parsers actually do it...

[2017-05-19 00:20] gkellogg commented on #37
With regards to RDF Microdata parsers, there are tests to ensure this is how relative URIs are handled. Mine does this, and I'm sure @iherman's does as well.

There are so many variations, @rubenverborgh wrote a [number of tests](https://github.com/w3c/rdf-tests/pull/13) for various RDF serlializations to test this. We repeated those for [JSON-LD](https://github.com/json-ld/json-ld.org/issues/394)

[2017-05-19 00:40] chaals commented on #27
I changed my mind on this. As an extension to HTML, extending the content model seems reasonable. And nobody else seems perturbed…

Closing

[2017-05-19 00:40] #27 closed, assigned to nobody

[2017-05-19 01:06] chaals opened #38 "handle time elements like RDFa?"
Google and SDL both do this already:

[code]

gives 3 names:

I'm proposing to match this behaviour in the algorithm for determining values. @iherman ?

[2017-05-19 01:07] chaals commented on #38
Has anyone tested other parsers?

[2017-05-19 01:44] chaals opened #39 "If meter, data use element text after content/value attributes"
[code]

in the SDL generates:

meter used its element's textContent
lone meter value attribute
data used its element's textContent
lone data value attribute
meter content attribute

and in Google's SDTT gives

name: data content attribute
name: missed data element' value attribute [BUG]
name: data used its element's textContent
name: meter content attribute
name: missed meter element's value attri

[2017-05-19 02:56] chaals commented on #5
closing this in favour of specific issues.

[2017-05-19 02:56] #5 closed, assigned to nobody

[2017-05-19 07:47] iherman commented on #38
My tools (ie, the parser in RDFLib and the separate Microdata distiller) do not do this.

I would be in favour having this feature, though, just like HTML5+RDFa defines it (see [HTML5+RDFa](https://www.w3.org/TR/rdfa-in-html/#additional-rules))

[2017-05-19 07:54] iherman commented on #37
@gkellogg knows me well, but, to be on the safe side, I checked my code too:-) Yes, RDFLib & Co. do implement the HTML `<base>` element.

[2017-05-20 23:41] chaals opened #41 "How do property names inherit the URL base of the itemtype?"
If you specify an `itemtype`, then there is an idea that its specification describes "relevant types", and so you don't need to use a full URL to parse them as part of the same specification.

What defines this? Does

[code]

mean that the Thing has a schema.org `name`? That is my understanding of what happens in reality, but as far as I can understand the specification, if that code is at http://

[2017-05-20 23:44] chaals commented on #41
I think the answer is that the spec should say a typed item whose value is not an absolute URL causes property names to be parsed relative to the URL of the `itemtype`…

This seems like an important sub-issue of #34 - or did I miss something (again)?

[2017-05-21 00:46] gkellogg commented on #41
The mechanism used in [Microdata to RDF](https://www.w3.org/TR/microdata-rdf/) is described in [Generate Predicate URI](https://www.w3.org/TR/microdata-rdf/#generate-predicate-uri).

The _current vocabulary_ is taken from the closest _itemtype_. Looking at it afresh, the language is a bit inconsistent. But, in [Generate the Triples](https://www.w3.org/TR/microdata-rdf/#generate-the-triples) step 7

[2017-05-21 01:17] chaals commented on #41
@gkellogg wrote:

This matches what I think people *do*, and what I think people *should do*, but as far as I can tell that isn't documented in the microdata spec itself, and effectively contradicts the microdata spec, unless it said something meaningful about vocabularies - which as per #34 I don't think it does…

Which seems like an issue that should be fixed. And that means looking at what else

[2017-05-23 23:01] #17 closed, assigned to nobody

[2017-05-23 23:03] chaals commented on #4
I think we can close this. It's known, you can use RDFa if you want the functionality, and it doesn't seem to have generated howls of discontent.

There are specific consequences, e.g. for internationalisation and accessibility, but they can be dealt with in more focused issues.

[2017-05-23 23:03] #4 closed, assigned to nobody

[2017-05-23 23:22] danbri commented on #4
If I was the I18N reviewer I would be tempted to make a fuss. We'll see!

[2017-05-24 11:33] chaals opened #42 "Clarify most accessibility information gets lost"
See also #4

Clarify that as it stands, microdata loses accessibility information like alt attributes, aria annotations, etc., and that if people need to preserve this they should consider RDFa with its greater expressivity, or use the markup really explicitly.

[2017-05-24 12:41] chaals commented on #21
@gkellogg but that value isn't reflected in the model, right?

I'd love microdata to be a first-class solution, but I think this means changing pretty much everyone's parsers in various ways...
I'm inclined to just say "yeah, if you want to do things like produce quality data, you might want to look at adding lots of annotations, or using RDFa to extract them from the source"…

[2017-05-24 13:06] #42 closed, assigned to chaals

[2017-05-24 13:09] chaals commented on #36
In private discussion with danbri he asked for a clarification - I'll do that before marking this as fixed.

[2017-05-24 13:09] #20 closed, assigned to danbri

[2017-05-24 13:09] #38 closed, assigned to chaals

[2017-05-24 13:09] #39 closed, assigned to nobody

[2017-05-24 13:52] msporny commented on #20
@Hixie said:

So my +1 to add it is now a +0. Do we either have 1) Data from @Hixie noting the usability studies (doubtful, as Google has not released this data to the public AFAIK), or 2) Demonstration that "@content" is being used across X million sites in Microdata markup.

If we don't have data for either, we're just flying by the seat of our pants (which is usually a bad thing to do spec-wise

[2017-05-24 15:56] gkellogg commented on #20
I've never understood how you can do usability studies on the use of attributes. RDFa allows the use of `@content` universally, and having it be restricted seems to be less usable than having it universal.

[2017-05-31 21:06] lanthaler commented on #29
This should be fairly straightforward. I discussed this with Ian a couple of years ago but there was no interest at that time. The single biggest difference (apart from the missing context) is the use of the `properties` container instead of adding them to the object itself.

[2017-05-31 21:11] lanthaler commented on #29
Should have clicked on the links beforehand. Looks like you already found the convo with Ian that actually explains the required changes.

[2017-05-31 21:12] gkellogg commented on #29
Note that in JSON-LD 1.1, a `properties` container is supported by use of the `@nest` mechanism. That presumes that the existing Microdata JSON schema needs to be preserved, rather than something that is a more natural JSON-LD expression.

[2017-06-01 09:57] iherman commented on #29
@gkellogg I do not think we should use JSON-LD 1.1, though. JSON-LD 1.1 as a standard is probably some years away (there is not even a charter in preparation for a working group) and the microdata standard should not rely on it. (Actually, per process, if the JSON-LD conversion is normative, it _must not_ rely on it.)

[2017-06-01 19:22] gkellogg commented on #21
@chaals I don't think that Microdata concerned itself too much with data model, or the association of attributes, which is why we did so much work in Microdata to RDF. For JSON-LD, we said that the [data model _was_ RDF](https://www.w3.org/TR/json-ld/#data-model-overview), so in a sense, the same might be said of Microdata, inasmuch as that is what consumers expect it to be.

[2017-06-13 21:36] LJWatson opened #45 "Time at TPAC?"
Would you like time at [TPAC](https://www.w3.org/2017/11/TPAC/) to update the WG on progress and/or bring issues up for discussion?

Please let me know by Friday 16th June. If yes, please also let me know how much time you think you'll need.

[2017-06-14 16:16] chaals commented on #45
With any luck we will be well finished by then. If not, it may be useful to have 30-40 minutes.

[2017-06-14 16:16] #45 closed, assigned to nobody

[2017-06-15 10:50] chaals commented on #3
I propose to close this with an explanation that when microdata is parsed to RDF people generally the microdata-to-rdf note, and whatever we resolve for #29, #34 and #41. @danbri?

[2017-06-15 10:57] chaals commented on #21
The data model for microdata *isn't* RDF, although if it happens to be used in specific ways microdata can be converted to RDF...
It can carry a small amount of language information, but it's limited. If you want to do serious work with multiple languages, then microdata probably isn't the answer you were looking for.

So I propose to clarify the situation in the i18n considerations if necessary,

[2017-06-15 16:00] chaals commented on #41
As I quickly read (past tense) Microdata to RDF, `itemtype="https://schema.org/Thing"` means that the root vocabulary is "https://schema.org/" but `itemtype="https://schema.org/Person/Teacher"` actually results in a root vocabulary of "https://schema.org/Person/".

Reading more carefully, it appears that the intent is that the registry is a list of known vocabulary prefixes, optionally associating

[2017-06-15 17:09] chaals commented on #36
tweaked in #44 and a bit more in #47 and now closing

[2017-06-15 17:09] #36 closed, assigned to chaals

[2017-06-15 17:25] chaals commented on #41
@danbri wondered offline if there is an obvious default we can use to avoid needing a registry, but I don't *think* so.

[2017-06-15 19:53] gkellogg commented on #41
Indeed, but really, the only one that mattered was schema.org. At the time, there was thought of using URL hierarchies for extensions, but I believe this became disfavored, so it may be more theoretical.

Indeed, I don't think that processors dynamically fetch the registry, but built it in. There is a mechanism for updating it, and it has been done through the efforts of @iherman; typically, when

[2017-06-17 16:04] chaals commented on #41
The alternative would be to specify some particular rules in the spec.

Does anyone know of a use of microdata other than schema.org where you might have `itemtype="https://some.host/compound/path"` but want the prefix associated to be just "https://some.host/" ? I can imagine this being the case for W3C, if they publish a couple of substantial vocabularies... but that's not a current concrete use

[2017-06-17 16:06] chaals commented on #37
This is less important than I thought, if we solve #41 so typed items collect the vocabulary we expect for describing the names of URLs.

[2017-06-17 16:06] chaals commented on #37
In any event, I deferred to RFC3986 for resolving URLs, so I think that covers it and we can close this issue.

@gkellogg ?

[2017-06-17 16:09] chaals commented on #21
I'm going to close this unless anyone screams - the internationalisation story is, sadly, "use RDFa, and you get what you need".

[2017-06-17 16:15] chaals commented on #2
neither the Google nor Yandex tools seem to pick this up. I doubt Yandex will implement this unless it becomes common, and that in turn probably depends on another search system picking it up.

Marked "Maybe Later" (so we can look for closed things we might want to do after all) and closed for now.

[2017-06-17 16:15] #2 closed

[2017-06-17 16:28] chaals commented on #10
So the Linter, the distiller, Yandex' and Google's tools all get the "right answer".

Using arbitrary XML, the Linter, Google and Yandex get the same answers...

[code]

I'm going to remove the restriction on the meaning of the attributes. If we collide with someone else's XML attributes that are also in the null namespace, that shows there was a questionable design decision in XML, but doesn't se

[2017-06-17 16:44] chaals commented on #15
OK, let's leave this here. It doesn't hurt anyone.

[2017-06-17 16:44] #15 closed, assigned to nobody

[2017-06-17 16:46] danbri commented on #10
would we ignore the native-to-that-format semantics of any other XML attributes or elements, e.g. that messed with base URIs or currently-in-scope objects or whatever? I'd assume so to avoid chaos.

[2017-06-17 16:47] #10 closed, assigned to nobody

[2017-06-17 18:00] gkellogg commented on #21
In the Microdata to RDF spec, the ability to associate language with a literal value is exactly the same as in RDFa.

The "language of the property element" comes from the [HTML spec](https://www.w3.org/TR/html5/dom.html#the-lang-and-xml:lang-attributes) referencing `@lang` and `@xml:lang` attributes.

In this case, RDFa offers nothing more than Microdata already does.

Regarding the data model of

[2017-06-18 00:27] aphillips commented on #21
I don't think anyone in the i18n community saw this until now. Would you mind holding it open a bit longer? This looks related to our other issues with language and direction metadata open elsewhere.

[2017-06-18 00:56] chaals commented on #21
@aphillips, I'm OK with holding this open a bit longer. I agree that it is related to the issues you have in various specs that don't handle i18n well.

My basic thinking is that microdata isn't ever going to be good enough for real i18n - but  with RDFa you can pass an XMLLiteral, including all the sorts of information you would want in a grown-up. ( @gkellogg that's the difference I alluded to a

[2017-06-18 01:13] chaals commented on #29
@lanthaler do you have the time to produce a PR for this? Note that I am also thinking, per #21, that we should explain how to convert to RDFa - not least because either format handles i18n far better than microdata.

[2017-06-22 03:52] chaals commented on #34
This should be more or less resolved by #49 - effectively, we don't really say how to define a vocabulary, you can do it how you want. We do note that you can use e.g. prose or something like RDF.

[2017-06-22 16:04] #41 closed, assigned to nobody

[2017-06-22 16:56] chaals opened #50 "What does it mean to "support" itemid"
The spec talks about whether or not a vocabulary supports `itemid` - but provides no explanation of how to make it clear whether this happens, nor what it means if it is *not* supported.

I suggest that we remove the question of whether `itemid` is supported by a vocabulary, and just state that if present it represents an identifier for the element it is on.

[2017-06-22 16:57] chaals commented on #34
I think the outstanding bit of the question is covered by #50

If so, we could close this... @danbri, @iherman

[2017-06-23 19:36] chaals commented on #50
Fixed by #51

[2017-06-23 19:36] #50 closed, assigned to nobody

[2017-06-23 19:36] chaals commented on #34
fixed by #49 and #51

[2017-06-23 19:36] #34 closed, assigned to nobody

[2017-06-24 18:29] chaals opened #52 "Describe conversion to RDFa"
For e.g. serious internationalisation microdata has some pretty fundamental issues - see e.g. #21, #22. It is possible to work around most of these by converting to another format. Since most tools seem to work with both, instead of trying to rewrite microdata which would make it more complex, I think we should just suggest that people use RDFa or JSON-LD if they need their capabilities.

See also

[2017-06-25 04:36] iherman commented on #52
+1

[2017-06-26 17:49] gkellogg opened #57 "Requiring both @itemscope and @itemtype when using @itemid seems unnecessary"
Note that [Microdata to RDF](https://www.w3.org/TR/2014/NOTE-microdata-rdf-20141216/) makes no such restriction, and includes a process for crafting URIs for `@itemprop` values based on the document location. Either this restriction should be removed (requiring only `@itemscope`), or we’ll need to remove that mechanism from a future Microdata to RDF update. In the absence of either `@itemid` or `@

[2017-06-26 18:47] gkellogg opened #58 "Global Identifier"
[Section 4](https://www.w3.org/TR/2017/WD-microdata-20170626/#global-identifiers-for-items) uses the term "global identifier", but does not reference it. Additionally, this section would seem to be about `@itemid`, however it is not discussed in this context. It looks like there is some missing text.

[2017-06-27 08:19] #58 closed, assigned to nobody

[2017-06-28 01:19] gkellogg opened #60 "Values section title odd"
The title is "Values: the `content` attribute", however the section generally describes getting a value for a property, which includes, but is not limited to the `content` attribute.

[2017-06-28 01:26] gkellogg opened #61 "Textual property value does not use language of the element"
The Values section does not make use of the language of the element (as established using `@lang` or `@xml:lang` on an ancestor or self).

This could certainly pertain to the `textContent` of an element and potentially the value of the `@content` attribute. RDFa uses the current language when creating a literal from `@content`, but it could be argued either way.

Of course, the JSON expression can

[2017-06-29 00:06] gkellogg opened #62 "No description of how numeric property values are obtained."
The `Values` section discusses getting a value from elements including `data` and `meter`, but this is returned as `textContent`. However, the JSON Serialization section specifically says to serialize JSON using "no unnecessary zero digits in numbers", implying that values may be numbers which could only come from these elements. Certainly the intention of the `data` and `meter` elements is that t

[2017-06-29 14:31] chaals commented on #61
It makes sense, if we put in how to generate RDFa/JSON-LD, to collect the language info there...

[2017-06-29 14:33] chaals commented on #61
Is this a duplicate of #21?

[2017-06-29 18:26] gkellogg commented on #61
@chaals I interpreted you discussion in #21 to be about more than `@lang`, more about the use of XMLLiteral (or HTML) in RDFa. So, the issues may require a somewhat different resolution.

[2017-06-30 00:16] unor opened #64 "Incomplete sentence: "User agents are""
Incomplete sentence in a Note in [section 5.2](https://www.w3.org/TR/2017/WD-microdata-20170626/#items):

[2017-06-30 00:21] unor opened #65 "Syntax highlighting not working correctly"
There seems to be something wrong with the syntax highlighting of a few examples in [section 4.2](https://www.w3.org/TR/2017/WD-microdata-20170626/#the-basic-syntax).

Colors are missing in these parts (each list item represents one example):

* `<div itemscope itemtype`
* `<div itemscope itemtype`
* `<div itemscope>`
* `<figure>`
* `<span itemscope>` and `<figure>`

(btw., it would be helpful to

[2017-06-30 09:21] #64 closed, assigned to nobody

[2017-06-30 09:28] chaals commented on #57
For the following code:

[code]

Structured Data Linter and Google's tool explicitly recognises the id, and Yandex' validator recognises the itemid property which is also what it shows if you have a typed item.

I think that  means we have interoperability without the constraint of only working on typed items, so I propose to fix this issue by allowing `itemid` on any item.

[2017-06-30 09:31] chaals commented on #61
OK. I think these are duplicates - my point regarding XMLLiteral etc is that while Microdata is weak for internationalisation, there is a solution based on shifting the microdata to RDFa...

Closing this as a duplicate, I'll take the discussion back to #21 in particular so the i18n people can follow it more easily.

[2017-06-30 09:31] #61 closed, assigned to nobody

[2017-06-30 09:35] chaals commented on #21
From https://github.com/w3c/microdata/issues/61#issue-239027472

It would be useful if conversion or other tools picked up language information, but a quick test:

[code]

Did show any sign that Yandex, Google, or SDL pick up the language information. Does anyone have evidence that something *does* do this for microdata?

[2017-06-30 09:44] chaals commented on #65
Yep. It seems there is something odd going on from respec. I can probably fix this manually when generating a Working Draft, but otherwise I will have to go debug it in respec, and I guess that means debugging a library it depends on...

So I'm not sure which approach I will take - depends on available time.

@marcoscaceres have you seen this before?

[2017-06-30 14:12] marcoscaceres commented on #65
I know it looks weird, but it's actually working as expected. You need to change the markup a little bit. I'd suggest either making the example into a note,  which itself contains the `<pre class=example>`, or making a new `section`:

[code]

[2017-06-30 14:16] marcoscaceres commented on #65
Oh, another option is putting adding an `example` class on the `pre`. It's kinda ugly tho:

 Additionally, you should put `figcaption` after the svg image. Otherwise, it looks like you are labelling the code, and not the image.

[2017-06-30 14:16] marcoscaceres commented on #65
<img width="617" alt="screenshot 2017-06-30 07 14 30" src="https://user-images.githubusercontent.com/870154/27739607-0b9a2580-5d64-11e7-93dc-faf813e22252.png">

[2017-06-30 14:18] marcoscaceres commented on #65
One last thing, on `<pre class="example">` you can add a `title` attribute, which will then be rendered to resemble a heading. like:

[code]

[2017-06-30 14:30] marcoscaceres commented on #65
Wait, sorry for all the noise... I totally misunderstood the problem (serves me right for trying to do things without drinking coffee first). You've done things correctly.

I don't see the problem with the highlight  colors?

To add a label correctly, use an `aside` instead... like the following:

[code]

[2017-06-30 14:44] unor commented on #65
I made screenshots:

![microdata-example-sh_1](https://user-images.githubusercontent.com/6901294/27740753-46519196-5db3-11e7-9a4f-589491f091b1.png)
![microdata-example-sh_2](https://user-images.githubusercontent.com/6901294/27740754-46598cc0-5db3-11e7-9dfe-e05af828eafb.png)
![microdata-example-sh_3](https://user-images.githubusercontent.com/6901294/27740756-4666856a-5db3-11e7-93b6-eac75ff6657b.png

[2017-06-30 18:24] marcoscaceres commented on #65
Ok, yeah, I see it now. I didn't scroll down far enough last time.

[2017-06-30 18:25] marcoscaceres commented on #65
We will need to file a bug at https://github.com/isagalaev/highlight.js/

[2017-06-30 20:45] gkellogg commented on #21
@chaals The linter does parse it as a language-tagged string, but doesn't render that. For example, my [Distiller](http://rdf.greggkellogg.net/distiller) produces Turtle with the language preserved, and the parser is the same. It's just that, for the purposes of generating a snippet this is not presented.

The Microdata to RDF has always had language in there about preserving the language.

[Ivan'

[2017-06-30 23:42] gkellogg commented on #3
See https://github.com/w3c/microdata-rdf/pull/28 for a proposed update to Microdata to RDF to align with this version of Microdata; it could also be considered as a basis for an RDF processing section directly within the spec.

[2017-07-01 10:52] chaals commented on #65
@marcoscaceres thanks for taking the time (and sorry you wasted the time before coffee ;) ).

If we used something like the markup you suggested

[code]

would we actually get the desired effect despite the bug? Or do I need to dig harder to find out for myself?

[2017-07-02 13:15] unor opened #70 "Capitalization of "microdata""
The document uses "microdata" instead of "Microdata", except in these cases:

Title:

ToC:

Body:

Whichever variant gets used (I would prefer "Microdata"), I think it should be consistent.

[2017-07-04 00:47] marcoscaceres commented on #65
@chaals, you'll have to try it. Might get lucky and it just works. If it doesn't, let me know. I have a custom build of the highlighter that I include into ReSpec, so worst case we try to fix it there. I've not checked how hard is to fix.

[2017-07-04 11:50] #57 closed, assigned to chaals

[2017-07-04 12:01] #70 closed, assigned to chaals

[2017-07-04 12:13] #60 closed, assigned to nobody

[2017-07-04 23:08] chaals commented on #65
so I added `class="html"` to the code examples that are HTML, and they all came out nice in respec. I'll raise a separate issue to name examples, but it does seem to work if they are `<aside class="example" title="put a name here">`

Thanks to both of you for picking this up, and @marcoscaceres for suggesting a fix. I'm applying it a bit as black magic, but I *think* that's reasonable in this case

[2017-07-04 23:08] #65 closed, assigned to nobody

[2017-07-04 23:10] chaals commented on #32
unordered works for me, but @danbri are you saying there is a real use case and requirement for specified ordering?

[2017-07-04 23:11] chaals opened #71 "give examples and algorithms a URL"
There should be some readable thing, and a URL, for each example and algorithm.

(Picked up from @unor in #65)

[2017-07-12 12:10] danbri commented on #32
I was thinking to say something like “While it is harmless for e.g. authoring applications to make use of the enclosing documents natural ordering, publishers are cautioned that the output of microdata parsing does not preserve order unless dedicated structures (such as schema.org/ItemList or rdf:Collection) are explicitly used."

However, "the order of properties is not significant and authors mu

[2017-07-12 12:13] danbri commented on #62
Haven't thought about this much, but would declaring "meter" as allowing xsd:integer or xsd:double work?

[2017-07-12 12:13] chaals commented on #62
I am inclined to suggest that processors *may* convert numerical values to a matching datatype, without obliging them to do so...

[2017-07-12 12:18] danbri commented on #62
SGTM.

[2017-07-12 12:20] danbri commented on #62
p.s. can you talk me through how we handle surface details like "." vs "," e.g.a value of  "1,00" vs "1.00"?

[2017-07-12 17:13] gkellogg commented on #62
I believe HTML 5 addresses valid number syntax: https://www.w3.org/TR/html52/infrastructure.html#numbers, and how they're interpreted.

[2017-07-13 08:37] chaals commented on #62
Since we define the content as strings, we don't have to do any handling. Processors can use whatever information they like to decidce that something is a number - e.g. a page in spanish that has `<meter itemprop="rating" value="3,5"><img src="estr.gif"><img src="estr.gif"><img src="estr.gif"><img src="mestr.gif"><img src="estrv.gif"></meter>` provides a value according to the spec of "3,5" as a s

[2017-07-13 21:27] 7mary4 opened #72 "Provide an example of itemid"
itemId is a great addition, but it would be great if there was an example of it being used. The current description is minimal.

"This is an absolute URL that provides a global identifier for an item. The itemid attribute must not be specified on elements that do not have both an itemscope  attribute and an itemtype attribute specified." - https://www.w3.org/TR/2017/WD-microdata-20170626/#dfn-item

[2017-07-14 09:23] danbri commented on #62
... I had missed that, and am now reassured.

[2017-07-19 01:09] chaals commented on #52
Hmmm. Dealing with `itemref` seems to throw up an issue. As I understand it the example in the spec (gotta fix #71)

[code]
Should produce the same output as
[code]
plus an extra node with the rdfa:Pattern.

It does for the structured data linter, and Yandex' SDV, but not in Google's validator.

@danbri, @iherman?

[2017-07-19 03:42] chaals commented on #37
I did a quick'n'dirty test on the Google validator and it applied `base` too. So nothing to see here...

[2017-07-19 03:42] #37 closed, assigned to nobody

[2017-07-19 04:06] chaals commented on #62
We explain in the introduction that values are strings or URLs, and again in the algorithm for determining values. I think we can close this without a change to the text...

[2017-07-19 04:13] gkellogg commented on #62
So, the text in the JSON serialization section is unnecessary, then.

[2017-07-19 04:16] chaals commented on #62
@gkellogg yep. I'll clean it up.

[2017-07-19 05:19] danbri commented on #3
closing per @chaals suggested approach

[2017-07-19 05:19] #3 closed, assigned to nobody

[2017-07-19 11:37] #72 closed, assigned to chaals

[2017-07-19 13:26] chaals commented on #22
Roughly speaking, we do a pretty poor job of supporting internationalisation, and people should use RDFa if they want to do any serious i18n.

For a lot of things we inherit from our host language (typically HTML)...

[2017-07-20 11:24] chaals commented on #62
I trimmed some of the language about conversion in #76.

I will add some clarification in various places - while conversions *may* interpret content to add datatypes, microdata itself treats even dates taken from datetime as a string...

[2017-07-31 08:47] iherman commented on #52
@chaals, FWIW, my code does exactly what you describe.

[2017-07-31 10:09] danbri commented on #52
My understanding is that the Google parsers should currently handle Microdata's itemref, but not RDFa 1.1's rdfa:Pattern property-copying. Is that consistent with what you're seeing?

[2017-09-06 18:23] #29 closed, assigned to nobody

[2017-09-06 18:23] #52 closed, assigned to nobody

[2017-10-09 22:28] Nick-Levinson opened #77 "incomplete sentence "User agents are""
A sentence fragment says "User agents are " (including the trailing space) and nothing more. Either it needs more or it should be deleted. It's in the W3C Working Draft of June 26, 2017, section 5.2, Note (green box), at the end.

[2017-10-09 22:56] chaals commented on #77
Yes. We removed it from the editor's draft, but a Gremlin seems to have put it back into some stuff. Following up now - I think it's a tooling issue :(

Thank you for noting.

[2017-10-10 14:21] iherman opened #78 "RDFa and JSON-LD are not equivalent"
RDFa and JSON-LD are both serializations of RDF. What it means that, when converted to RDF, both conversion results should produce equivalent graphs.

However... this does not seem to be the case. At least the way I read it

* JSON-LD has a top level `items` property, which yields, in RDF one subject (a blank node, actually) which has a number of `<items> _:XYZ` pairs, where `_:XYZ` are blank node

[2017-10-10 23:07] gkellogg commented on #78
Ivan is correct, for the `items` property to not create a blank node, the context must include `"items": "@graph"`, or, the generation of the `items` element should simply be eliminated, and replaced with `"@graph"`, which is what I did in [my implementation](https://github.com/ruby-rdf/rdf-microdata/blob/develop/lib/rdf/microdata/jsonld_reader.rb).

My implementation produces the following output

[2017-10-10 23:20] chaals commented on #78
It looks like the example was just copy-pasted from the plain JSON conversion, and is really wrong :(

So it looks like step 4 of the algorithm should say

@gkellogg you seem to have done the `@context` step differently, and instead of making it a top-level entry in _items_ added

[code]

to each _item_.

* Does that matter in getting the JSON-LD right? (I **think** at first glance the answer is n

[2017-10-10 23:39] gkellogg commented on #78
Setting `@context` at the top means that if the vocabulary changes along the way, you won't pick it up. Setting it for each item, while repetitions, does make sure that the object for each item is picked up if it happens to change.

I believe that setting `"@vocab": _vocabulary-identifier_` (when properly quoted) is don't what I do.

[2017-10-11 00:08] chaals commented on #78
But in microdata, my first instinct is that it cannot change anyway, in which case this protection is unnecessary. (Wondering if I missed something)

_vocabulary-identifier_ is (meant to be) the URL path for the (first) itemtype. Are you getting something different to use as a value? (I don't understand "don't" in the sentence above)

[2017-10-11 00:17] gkellogg commented on #78
In section 4.3, the _vocabulary identifier_ is determined based on _itemtype_, which can certainly change when a new _itemscope_ is encountered. Otherwise, you couldn't use properties from different vocabularies. Certainly, the RDFa algorithm is written expecting that the _vocabulary identifier_ can change with each item, which is my read of 4.3 and 5.2:

I'm not sure where you see that the _vocab

[2017-10-11 06:35] iherman commented on #78
Looking at the example of @gkellogg's generation tells me that there is a need for a specific `@context` file for microdata to make the output simpler and more readable. Lines like

[code]

could then disappear behind the smoke screen of a context. At present, without such a context file, the generated JSON-LD does not seem to be correct...

[2017-10-11 06:38] iherman commented on #78
@chaals @gkellogg

That is correct, but I believe the comment of @chaals referred to the `@context`. While I agree that the vocabulary may change, I guess we can safely say that the `@context` will not...

[2017-10-11 06:53] iherman opened #79 "RDFa should generate to RDFa Lite"
At present, the RDFa generation does not generate RDFa Lite. I also believe that by changing, in step 5, the reference to the `about` attribute to `resource` would make the trick. The way microdata uses `itemid` will lead, I believe, identical results.

(I admit my RDFa becomes a bit rusty, so I rely on @gkellogg to watch over my shoulders…)

[2017-10-11 06:55] iherman commented on #79
Back in the days the definition of RDFa Lite was greatly influenced by microdata, and I believe there are processors out there that process RDFa Lite only. Hence this issue…

[2017-10-11 07:43] iherman opened #80 "Use the same example for JSON-LD and RDFa"
I believe it would be better to use the same example for JSON-LD, RDFa (and JSON). It is better for the readability of the document...

(There may be several examples; the current RDFa example contains the `itemref` trick, which is great because RDFa can indeed reproduce that...)

[2017-10-11 07:47] iherman commented on #80
I have run the RDFa Generation algorithm by hand, and this is what I got:

[code]

I have also run it through my RDFa converter to produce turtle. I do not think that the turtle result should be in the document, but I have put it up in a [separate gist](https://gist.github.com/iherman/438c445e72720699ca3bf65498e6febe).

[2017-10-11 07:49] iherman commented on #80
@gkellogg, can you compare the Turtle output of your JSON-LD tool with the the [example in turtle via RDFa](https://gist.github.com/iherman/438c445e72720699ca3bf65498e6febe)? The two graphs should be equivalent...

(B.t.w., we may want to think about a testing environment whereby the conversions to RDFa and the conversions to JSON-LD would be compared as for their RDF representations to see whethe

[2017-10-11 07:53] iherman commented on #80
(Just a small editorial remark: in the example above I added a `<base>` element to the header to ensure using the right URL in the generated RDF.)

[2017-10-11 08:04] iherman opened #81 "Reference to [microdata-rdf] should be changed"
At the moment, [microdata-rdf](https://www.w3.org/TR/microdata-rdf/) is listed as a dependency. As we are adding a JSON-LD and an RDF conversion into the document (normatively), I wonder what the fate of that note, and therefore the dependency, should be.

In my view, the cleanest option will be to rescind (or something similar) the microdata-rdf document. Indeed, JSON-LD and RDF _are RDF serializ

[2017-10-11 09:59] chaals commented on #77
Fixed in the latest [Public Working Draft](https://www.w3.org/TR/2017/WD-microdata-20171010/) and [editors' draft](https://w3c.github.io/microdata/).

Thanks again.

[2017-10-11 09:59] #77 closed, assigned to chaals

[2017-10-11 10:10] chaals commented on #81
[microdata-rdf](https://www.w3.org/TR/microdata-rdf/) goes beyond the microdata spec, adding a useful concept of a `registry`, describing a potential `itemprop-reverse`, and getting **better** i18n - at least items are formally language-taggable.

I would prefer to publish the Recommendation, based on real and widespread implementation of something not as good, and keep the forward-looking note as

[2017-10-11 10:12] chaals commented on #80
Think it makes sense to have several examples, and definitely work the same ones for each conversion. I've assigned myself (but please feel free to generate Pull Requests that do some of the work me ;) )...

[2017-10-11 10:38] iherman commented on #81
I see your point, not yet absolutely convinced... are there (m)any implementations today for the mdata->JSON-LD or mdata->RDFa? I simply do not have the data. But it may be better to carry over the, say, i18n features to the microdata spec rather than having it in a separate note (where nobody would really care).

The itemprop-reverse is really a hack unless it is part of the official microdata. T

[2017-10-11 16:04] gkellogg commented on #79
You can view the result of my to-RDFa and to-JSON-LD algorithms on my [distiller](http://rdf.greggkellogg.net/distiller?command=to-jsonld&format=microdata).

There are cases where I use `@about` instead of `@resource`, for example, if there is no`@property` on the element. When we know literal types, we could be using `@datatype`, or we could be sure to use the same element on output as we do on i

[2017-10-11 16:06] gkellogg commented on #81
I think itemprop-reverse could be removed, as it was an experiment for schema.org that never went anywhere.

However, the Microdata-RDF doc will do a much more faithful job of transforming Microdata to RDF than either of the built-in algorithms, due to the lack of a registry, and other simplifications. It would likely affect all of the schema.org examples, which would no longer generate the same t

[2017-10-11 16:08] gkellogg commented on #80
@iherman, I recommend you to my [distiller](http://rdf.greggkellogg.net/distiller?command=to-jsonld&format=microdata) for checking out different examples. It has up-to-date algorithms, and allows you to invoke the specific Microdata to RDFa and to JSON-LD algorithms (at least as I've implemented them).

[2017-10-11 16:11] gkellogg commented on #78
For the vocabulary to track, and properties to be properly expanded, the `@context` must change with each item, at least for each item where the current vocabulary changes, otherwise, results will be quite different.

Consider a mixed use of DCMI and schema.org, if the context (and `@vocab`) is set for one, then items that use an `@itermtype` from the other will no longer come up as part of that v

[2017-10-12 13:23] iherman commented on #81
@gkellogg

Well... I must admit I have strong reservations for essentially providing two different mappings to RDF under the W3C auspices (even if the SWIG document is a Note only). If reproducing the Microdata-RDF features in _both_ JSON-LD and RDFa becomes too complicated, then we should just accept that and rescind the Note nevertheless. Alternatively, the Microdata-RDF could be promoted as a s

[2017-10-12 13:36] iherman commented on #81
(Continuing on my previous comment…)

We could also thoroughly re-write the Microdata-JSON note _on top_ of the new Microdata standard, saying something like "implementations/mappings may consider the following improvements on the standard mappings to improve the quality of the represented RDF", taking good care of providing additional features that would make the generated RDF an extension (as @c

[2017-10-12 13:41] iherman commented on #79
@gkellogg do you have a specific example that we can look at for this? I would find it a real pity if we were forced to move away from RDFa Lite...

[2017-10-12 13:45] iherman commented on #78
Ah, true.

Would it be an over-complication in the document if the algorithm includes a check on whether `@context` and/or `@vocab` is necessary (as far as I can see a simple check on the DOM tree would be sufficient)?

[2017-10-12 22:40] gkellogg commented on #81
@iherman I have updated the note on [GitHub](http://w3c.github.io/microdata-rdf/) to reflect the updated Microdata spec. The main thing that sets it apart from algorithms in Microdata is the retention of datatype information from particular elements and attributes. Otherwise, there would be nothing but URLs and strings. Also, the use of a registry, which principally affects `schema:additionalPrope

[2017-10-12 22:53] gkellogg commented on #79
There is a small window where an element has `@itemprop`, `@itemid`, and `@itemscope` and `@data` (`<object itemid="#foo" itemscope itemprop="bar" data="#baz">...</object>`), but it's a pretty narrow window 😄 . I think we can pretty safely just rely on `@resource`.

[2017-10-12 22:58] gkellogg commented on #78
Simplest, of course, is to just emit an `@context/@vocab` for each item, which doesn't require history. (Note that `@vocab` can only be used within `@context`). But, it might be done by passing `current-vocabulary` into the algorithm, and editing the `@context/@vocab` whenever the **vocabulary identifier** differs from that passed into the algorithm, and include it as part of step 7.2.

[2017-10-13 06:51] iherman commented on #78
Exactly. I would propose to add that to the algorithm. Because we are generating a proper and, potentially, human readable serialization of RDF (as opposed to an abstract RDF Graph), I think such seemingly minor improvements would help acceptance and deployment.

[2017-10-13 06:58] iherman commented on #81
Your last remark

seems to align with my [latest comment](https://github.com/w3c/microdata/issues/81#issuecomment-336139219), i.e., we seem to be on the same line… (again:-)

There are some admin/formal issues, namely who would be in position to publish such an additional note. I would leave this to @chaals for the moment:-)

[2017-10-13 15:16] #32 closed, assigned to danbri

[2017-11-11 20:19] chaals commented on #78
Following discussion at TPAC, our proposal is to remove the JSON-LD conversion - it is just a convenience, and so long as you generate a minimal graph that is the same when converting to an RDF format it doesn't matter much which format you use...

And I apparently made fewer mistakes in creating the first draft RDFa conversion, so we will stick to that. It is also closer in the problem space it c

[2017-11-23 21:21] #79 closed, assigned to chaals

[2017-11-23 22:57] #78 closed, assigned to nobody

[2018-04-20 21:04] danbri commented on #81
I concur.

[2018-04-20 21:05] danbri commented on #80
JSON-LD section has gone, so this is no longer needed.

[2018-04-20 21:05] #80 closed, assigned to chaals

[2018-04-20 21:09] danbri commented on #71
@chaals  is taking a look at this, e.g. RESPEC version https://w3c.github.io/microdata/#conformance has IDs on parts, but not on the examples, will figure it out.

[2018-04-20 21:10] danbri commented on #62
Closing as agreed/fixed above.

[2018-04-20 21:10] #62 closed, assigned to chaals

[2018-04-20 21:12] danbri commented on #22
Nearby,

* https://github.com/w3c/i18n-activity/issues/408
* https://www.w3.org/International/track/actions/631
* https://www.w3.org/2017/07/13-i18n-minutes.html#item02

[2018-04-20 21:14] chaals commented on #22
Closing. I believe the review was done, the upshot being that the spec points out that it is not good for i18n and suggests people should use a better format - RDFa or JSON-LD - if they want to have i18n capability.

[2018-04-20 21:14] #22 closed, assigned to nobody

[2018-04-20 21:29] danbri commented on #21
I have investigated Google's Microdata parser behaviour using @gkellogg 's [example above](https://github.com/w3c/microdata/issues/21#issuecomment-302249068). As far as I can determine, Google (correctly afaik) does not take note of the HTML language attribute when extracting literal values of Microdata properties.

As I mentioned above, there is nothing to stop people making more use of the large

[2018-04-20 21:30] danbri commented on #21
Closing on basis that the spec never said to do this, and we have found no evidence that implementations have gone further. In the spirit of the spec tracking reality (and not trying to mutate it into RDFa, which already exists) let's close this, and let Microdata be what Microdata is.

[2018-04-20 21:30] #21 closed, assigned to nobody

[2018-04-21 02:00] gkellogg commented on #21
@danbri, note that when using the RDFa transformation algorithm, you will get language-tagged liberals if any ancestor contains `@lang`.

[2018-04-22 02:25] chaals commented on #81
We removed the JSON-LD mapping. I also removed the dependency - we make informative reference to the note in other parts of the spec already.

[2018-04-22 02:29] #71 closed, assigned to chaals

[2018-04-22 02:37] chaals commented on #81
Dependency removed in https://github.com/w3c/microdata/commit/dae790130bfe3ad9a6f34839c84bdbd83e646d23

[2018-04-22 02:37] #81 closed, assigned to nobody

[2018-04-22 03:17] iherman commented on #81
@danbri @gkellogg @chaals  Does this mean we would have to republish the note alongside the mdata Rec? I think that would be the proper way of doing this. Would it be possible to republish the updated note in the WP Workin Group, rather than the SWIG? After all the SWIG is, in theory, on its way out...

[2018-04-22 03:46] chaals commented on #81
My preference would be for SWIG to publish it, since it goes beyond the spec and into territory that they know well while Web Platform probably doesn't have much expertise in...

Republishing it alongside the formal spec does make sense, although I don't think they need to be tightly coupled...

[2018-04-22 08:42] iherman commented on #81
I understand your point, @chaals, the problem may be that the SWIG is supposed to be closed down in favour of a CG (@danbri, I am not sure where we are with this), and I would think that, e.g., for the purpose of continuity, it would be better to republish it as a Note rather than a CG report...

[2018-05-28 18:09] aphillips commented on #21
The I18N WG has reviewed this thread and [actioned ](https://www.w3.org/International/track/actions/717)me with saying that we do not object to @danbri's resolution of this issue.

[2018-06-30 14:39] simlawr opened #86 "Reusing components in different contexts"
It's commonplace to create reusable code fragments and more recently frameworks, such as _React_ and _AngularJS_, have popularised the idea of components. The requirement for an `itemprop` attribute to be on the same element as a sub-item's `itemscope`, is problematic for this kind of code reuse.

For example, a component that displays the name, image and description of a person:

[code]
This coul

[2018-06-30 21:36] chaals commented on #86
(components have been around the web since last century, but yeah...)

The use case makes sense, but I am not sure what we might change in microdata to help. It seems more obvious to me to use the mechanisms for using variables in templates that are associated with component systems. So you might have in your examples `itemprop={{roletype}}` to be filled based on the component's role or some other

[2018-07-01 09:07] simlawr commented on #86
This is a practical solution that would work in many situations but some methods of including code do not allow for variable passing. The markup generated by content management systems is an example of where it may not be possible to pass through the required `itemprop` attribute.

[2018-07-01 11:14] simlawr commented on #86
Might something like the following be a possible solution?

[code]

An `itemprop` could define itself to be of an `itemtype` without creating a new item. The parser then looks for a descendant `itemscope` with a matching `itemtype` and associates it with the `itemprop`.

This would allow the `<article>` code to be reused in many different contexts.

[2018-07-11 15:14] Meteor0id opened #87 "itemref as a url, not just an ID within the same document"
What has lead up to this sentence in the draft?

[source draft here](https://w3c.github.io/microdata/#names:-the-itemprop-attribute)

To me this initially seems restrictive without a motivation why it should not be allowed to reference an absolute url with an id reference appended.

[2019-01-28 16:01] simlawr commented on #86
RDFa solves this problem through use of a `rel` attribute on a parent node, for example:

[code]

An explanation of how to use this syntax can be found in the [RDFa 1.1 Primer](https://www.w3.org/TR/rdfa-primer/#h-alternative-for-setting-the-property-rel).

[2019-08-09 19:26] hsolbrig opened #90 ""Valid" definition doesn't resolve"
Terminology section:
"A valid absolute URL is an absolute URL which is **valid**." -- "valid" does not appear to have a definition

[2019-08-09 19:29] hsolbrig opened #91 ""Our company" example is confusing"
The example where `alt="Our Company"` is a bit confusing because the solution is `content="The Company"`.  Should probably be "Our" in both cases

[2019-08-09 19:32] hsolbrig opened #92 "Hedral the Cat"
How does one arrive at `http://example.org/animals#name` URI without a base namespace being specified in the Hedral the Cat example?

[2019-08-09 19:36] hsolbrig opened #93 "Hedral Issue 2"
Hedral reappears as the last example in section 4.  While the example is intended to demonstrate local words vs. global identifiers, both "desc" and "img" appear to be local words, yet they are shown as URL's, with no explanation where the  `http://myvocab.example.org/animals/` base came from

[2019-08-09 19:51] hsolbrig commented on #93
Never mind -- upon reading further I found this:
`Append the substring of the value from the beginning to the last SOLIDUS U+002F ("/") to potential values`  -- unexpected behavior, but at least it makes sense.   That said, how does this example represent "local words"?

[2019-08-09 19:53] hsolbrig commented on #92
Never mind - reading ahead I reached "Append the substring of the value from the beginning to the first NUMBER SIGN U+0023 ("#") to potential values", which explains what is going on.  That said, it might make sense to add a parenthetical note about this as, for those of us coming from a more traditional RDF world, this isn't the sort of behavior that we would intuitively expect.